/*Generic Styling*/
#pageMessages {
    color: white;
    text-align: center;
    background-color: green;
}

/*Auth Styling*/
/*Login Page */
#authFormWrap {
    width: 70%;
    margin: 3rem auto 0 auto;
    padding: .2rem;
}

#authFormWrap .formIcon {
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
}

.authFormError {
    color: red;
    display: block;
}


/* Multi Opportunity Page*/
.multiOppWrap {
    width: 80%;
    padding: 1rem;
    margin: auto;
}

.multiOppWrap .filters {
    width: 50%;
    padding: 1em 0;
}

.multiOppWrap .oppList {
    padding: .5em;
}

.multiOppWrap .oppListHeader {
    background-color: #F4F5F6;
    color:#65696e;
    font-weight: 500;
    padding: .2em;
}

.multiOppWrap .oppListItem {
    border-top: .3em solid #F4F5F6;
    padding: .8em;
    color: white;
    transition: ease-in-out;
}

.multiOppWrap:hover {
    cursor: pointer;
}

.multiOppWrap .ForSale {
    background-color: orange;
}

.multiOppWrap .ForSale:hover {
    background-color: white;
    color: orange;
    border: .1em solid orange;
}

.multiOppWrap .Sold {
    background-color: limegreen;
}

.multiOppWrap .Sold:hover {
    background-color: white;
    color: limegreen;
    border: .1em solid limegreen;
}

.multiOppWrap .SaleAgreed {
    background-color: #A654F0;
}

.multiOppWrap .SaleAgreed:hover {
    background-color: white;
    color: #A654F0;
    border: .1em solid #A654F0;
}

.multiOppWrap .ContractsExchanged {
    background-color: #FF4AA0;
} 

.multiOppWrap .ContractsExchanged:hover {
    background-color: white;
    color: #FF4AA0;
    border: .1em solid #FF4AA0;
}

/* Single Opportunity Page*/
.oppWrap {
    width: 96%;
    margin: auto;
}

.oppWrap .backIcon i {
    font-size: 1.5em;
    padding: 1em 0;
}

.oppWrap .propertyName {
    font-size: 2em;
}

.oppWrap .stageBtn {
    height: 3em;
    width: 100%;
    border: .1em solid black;
    border-radius: 8%;
}

.oppWrap .ForSaleBtn {
    transition: ease-in-out;
    background-color: orange;
    color: white;
}

.oppWrap .ForSaleBtn:hover,
.oppWrap .ForSaleBtn:focus {
    background-color: white;
    color: black;
    cursor: pointer;
}

.oppWrap .SaleAgreedBtn {
    transition: ease-in-out;
    background-color: #A654F0;
    color: white;
}

.oppWrap .SaleAgreedBtn:hover,
.oppWrap .SaleAgreedBtn:focus {
    background-color: white;
    color: #A654F0;;
    cursor: pointer;
}

.oppWrap .ContractsExchangedBtn {
    transition: ease-in-out;
    background-color: #FF4AA0;
    color: white;
}

.oppWrap .ContractsExchangedBtn:hover,
.oppWrap .ContractsExchangedBtn:focus {
    background-color: white;
    color: #FF4AA0;
    cursor: pointer;
}

.oppWrap .SoldBtn {
    transition: ease-in-out;
    background-color: limegreen;
    color: white;
}

.oppWrap .SoldBtn:hover,
.oppWrap .SoldBtn:focus {
    background-color: white;
    color: limegreen;
    cursor: pointer;
}

.oppWrap .saveStageWrap {
    text-align: center;
    padding: 1em;
}
.oppWrap .noteDocBtnWrap {
    display: contents;
    border: .1em solid black;
    border-radius: 8%;
}

.oppWrap .noteDocBtnWrap button {
    height: 3em;
    width: 100%;
    background-color: white;
}

.oppWrap .timelineStep .substageField select,
.oppWrap .timelineStep .substageField input {
    width:100%;
}